!!!
%html
  %head
    %title BlogOfCrystle9
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container.row
      %header.row{:role => "banner"}
        %ul.narv
          %li.float_left= link_to 'home', root_path
          - if user_signed_in?
            %li.float_right= link_to "#{current_user.email}", posts_path
            %li.float_right= link_to 'sign out', destroy_user_session_path, :method => :delete
          - else
            %li.float_right= link_to 'sign in', new_user_session_path
      %main.row.gutters{:role => "main"}
        %aside.col.span_2{:role => "complimentary"}
          \&nbsp;
        %article.col.span_12
          %p.notice= notice
          %p.alert= alert
          = yield
        %aside.col.span_2{:role => "complimentary"}
          \&nbsp;

