!!!
%html
  %head
    %title BlogOfCrystle9
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container.row
      %header.row{:role => "banner"}
        %ul.narv
          %li{:style => "float:left"}= link_to 'home', root_path
          %li{:style => "float:left"}= link_to 'New Book', new_book_path
          %li{:style => "float:left"}= link_to 'New Post', new_post_path
          - if user_signed_in?
            %li= link_to "#{current_user.email}", posts_path
            %li
            %li= link_to 'sign out', destroy_user_session_path, :method => :delete
          - else
            %li= link_to 'sign in', new_user_session_path
            %li= link_to 'sign up', new_user_registration_path
      %p.notice= notice
      %p.alert= alert
      %main.row.gutters{:role => "main"}
        %aside.col.span_2{:role => "complimentary"}
          \&nbsp;
        %article.col.span_12
          = yield
        %aside.col.span_2{:role => "complimentary"}
          \&nbsp;
      /
        <footer role="contentinfo" class="row">
        Footer
        </footer>
